@import '../../sass/variables', '../../sass/mixins';

.navbar{
    background-color: $cardNavBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $navbarFont;
    text-transform: uppercase;
    width: 100%;
    padding: 0 1rem;
    
    .logo{
        display: flex;
        width: 20%;
        // border: 2px solid blue;
        // max-width: 30vw;
    
        img{
            width: 100px;
        }
    }

    .link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-end;
        gap: 2%;
        width: 80%;
        font-size: 1.5rem;
        // border: 2px solid blue;

        a{
            color: $secondaryColor;
            text-decoration: none;
            padding: 0.5rem;
            &:hover{
                background-color: $secondaryColor;
                color: $cardNavBgColor;
            }
        }
    }


}

@include media-xsm{
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}

@include media-sm{
    .navbar{
        flex-direction: row;
    }
}