@import './sass/_reset.scss', './sass/variables','./sass/mixins' ;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

body{
    background-image: $backgroundImage;
    background-attachment: fixed;
    font-family: 'Almendra Display', cursive;
}